<%# if !current_user %>
<h3><%= notice %></h3><br>

<p>Sign Up Here</p><br>

<%= form_for @user do |f| %>
  <%# if @user.errors.any? %>
  <!-- <p>Error:</p> -->
    <%# @user.errors.full_messages.each do |message| %>
    <%#= message %>

      <%#= pluralize(@user.errors.count, "error")%>
    <%# end %>

    <% if @user.errors.full_messages.any? %>
<% @user.errors.full_messages.each do |error_message| %>
<%= error_message %> <br />
<% end %>
<% end %>

    <%# end %>
  <%= f.label 'Name'  %>
  <%= f.text_field :name%>
  <%= f.label 'Email'  %>
  <%= f.text_field :email %>
  <%= f.label 'Username'  %>
  <%= f.text_field :username %>
  <%= f.label 'Password'  %>
  <%= f.password_field :password  %>
  <%= f.label 'Password Confirmation'  %>
  <%= f.password_field :password_confirmation  %>
  <%= f.submit 'SUBMIT'%>
<% end%>

<%= link_to 'Login', '/login' %> 


