<nav>
    <!-- <img href="../../assets/images/pocket-logo.png"/> -->
    <img src="http://i.imgur.com/tpOIcII.png?1" title="source: imgur.com" />
<div class="current"><h5 class="fixplease"><%= current_user.name %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Logout', '/logout' %></h5></div>
</nav>

    <h5 class="list-type">My List</h5>

<div class="container">
<!-- <h1>Weblinks#index</h1> -->
<!-- <p>Find me in app/views/weblinks/index.html.erb</p> -->

  <%= notice %>

  <% @weblinks.each do |link| %>
  <div class="link-container">
  <ul>
    <li>
      <%# @imgbest.images.best %>
      <h5><a href=""><%= link.url.slice!(/[^http:\/\/www\.].+(.com)/) %></a></h5>
      <%= link_to "Show", weblink_path(link), :method => :get %>
        <!-- <h5><a href="http://www.<%#= link.url %>"><%#= link.url %></a></h5> -->
      <% if link.favorited? %>
        <%#= link_to favorite_weblink_path(link), method: :patch do %>
        <!--   <i style="opacity: 0.4;" class="fa fa-heart"></i> -->
            <%= link_to unfavorite_weblink_path(link), method: :patch do %>
              <i style="opacity: 0.4;" class="fa fa-heart"></i>
            <% end %>
        <%# end %>
      <% else %>
     
        <%= link_to favorite_weblink_path(link), method: :patch do %>
          <i class="fa fa-heart-o"></i>
        <% end %>

      <% end %>

      <%= link_to "Delete", weblink_path(link), :method => :delete %>
      <%= link_to "Update", edit_weblink_path(link), :method => :patch %>
      </li>
    </ul>
</div>
  <% end %><br>
</div>    

<div class="sidenav">
    <!-- <div class="mylist">My List</h5> -->

<%#= render 'addlinks', locals: { weblinks: @weblinks }%><br>
<div class="myfavorite"><%= link_to 'Favorites', '/myfavorites' %><br></div>
<div class="addlinks"><%= link_to 'Add links', '/addlinks' %><br></div>
<div class="home"><%= link_to 'Home', '/' %><br></div>
</div>

<div class="line"></div>

<div class="archives"><%= link_to 'Archives', '/' %><br></div>





<!--------------- Drop down test -------------->



<!-- <li id="pagenav_options">
  <a title="" href="#">
  <span class="nav-username">Leah</span>
  <span class="nav-downnotch"></span></a>
<div id="pagenav_options_container" class="dropSelector innerpopover-active" style>
    <a>
      </a>
<div class="popover-new popover-new-bottomleft popover-active" style="top: 23px; left: -180.000049591065px;"><div class="popover-new-header">
    <a class="popover-new-close" href="#"></a>
    </div>
<div class="arrow"></div><ul class="popover-new-list">
  <li class="popover-new-listitem premium" val="premium">
    <a href="#">Premium<span class="nav-icon"></span>
     </a>
    </li>
<li class="popover-new-listitem help" val="help">
  <a href="#">Help<span class="nav-icon"></span>
    </a>
</li>
  <li class="popover-new-listitem options" val="options">
<a href="#">Options<span class="nav-icon"></span></a>
    </li>
<li class="popover-new-listitem logout last" val="logout">
  <a href="#">Logout<span class="nav-icon"></span>
    </a>
    </li>
    </ul>
  </div>
  </div>
</li>
 -->

<!-- <table>
  
  <tr>
    <td>

  <nav id="navigation" class="site-navigation" role="navigation">
  <ul class="menu">
    <li class="menu-item"><a href="#">News</a></li>
    <li class="menu-item"><a href="#">Snippets</a>
      <ul class="dropdown">
        <li class="menu-item sub-menu"><a href="#">CSS</a></li>
        <li class="menu-item sub-menu"><a href="#">HTML</a></li>
        <li class="menu-item sub-menu"><a href="#">jQuery</a></li>
        <li class="menu-item sub-menu"><a href="#">PHP</a></li>
        <li class="menu-item sub-menu"><a href="#">WordPress</a></li>
      </ul>
    </li>
    <li class="menu-item"><a href="#">Inspiration</a></li>
    <li class="menu-item"><a href="#">Tools</a></li>
    <li class="menu-item"><a href="#">Tutorials</a></li>
  </ul>
</nav>

    </td>
 </tr>

</table> -->