<h1>Weblinks#new</h1>

You are signed in <%= current_user.name %> | <%= link_to 'Logout', '/logout' %><br>
<%= notice %><br>
You can add links -- 
<%= render 'addlinks' %><br>

<%= link_to 'My links', '/mylinks' %><br>
<%= link_to 'Home', '/' %><br>