<nav>
  <div class="show-page-nav">
    <%= link_to mylinks_path, method: :get do%>
      <i class="fa fa-arrow-left fa-2x"></i>
    <% end %>&nbsp;
    <%= link_to weblink_path, :method => :delete do %>
      <i class="fa fa-trash fa-2x"></i>
    <% end %>&nbsp;

     <% if @url_id.favorited? %>
            <%= link_to unfavorite_weblink_path, method: :patch do %>
              <i style="opacity: 0.4;" class="fa fa-heart fa-2x"></i>
            <% end %>
      <% else %>
        <%= link_to favorite_weblink_path, method: :patch do %>
          <i class="fa fa-heart-o fa-2x"></i>
        <% end %>

      <% end %>

  </div>
</nav>


<div class="reader-content">
  <h1 class="doctitle"><%= @doc.title %></h1><br>
    <div class="subinfo">
      <h5 class="author"><%= @doc.author %>, <a href="<%= @url_id.url %>"><%= @url_id.url.slice!(/[^http:\/\/www\.].+(.com)/) %></a>

      <a class="original" href="<%= @url_id.url %>">View Original</a></h5>
    </div>
  <h4><%= @doc.body %></h4>
<%# binding.pry %>
</div>