<!DOCTYPE html>
<html>
<head>
  <title>PocketClone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

<div class="rainbow-bars1"></div>
<div class="rainbow-bars2"></div>
<div class="rainbow-bars3"></div>
<div class="rainbow-bars4"></div>


<!-- <nav><img href="../../assets/images/pocket-logo.png"/></nav> -->

<%= yield %>

</body>
</html>